@charset "utf-8";

/* treeCustom */
.treeCustom li { clear:both; display:block; line-height:22px; cursor:pointer;}
.treeCustom div { display:inherit; height:22px; line-height:22px;}
.treeCustom a, .treeCustom span {height:22px; line-height:22px;}
.treeCustom div { display:block; overflow:hidden;}
.treeCustom div div { float:left; display:block; overflow:hidden; width:22px; height:22px; border:none; background-position:0 -100px;}
.treeCustom a, .treeCustom a:hover { text-decoration:none;}

.treeCustom .collapsable { background-position:0 -300px;}
.treeCustom .first_collapsable { background-position:0 -250px;}
.treeCustom .last_collapsable { background-position:0 -350px;}

.treeCustom .expandable { background-position:0 -100px;}

.treeCustom .first_expandable { background-position:0 -50px;}
.treeCustom .last_expandable { background-position:0 -150px;}
.treeCustom .end_expandable { background-position:0 0;}
.treeCustom .end_collapsable { background-position:0 -200px;}

.treeCustom .indent { background:none;}
.treeCustom .line { background-position:0 -400px;}
.treeCustom .node { background-position:0 -450px;}
.treeCustom .last .node { background-position:0 -500px;}

.treeCustom .folder_expandable { background-position:0 0;}
.treeCustom .folder_collapsable { background-position:0 -50px;}
.treeCustom .file { background-position:0 -100px;}

.treeCustom .unchecked { background-position:0 0;}
.treeCustom .hover .unchecked { background-position:0 -50px;}
.treeCustom .checked { background-position:0 -100px;}
.treeCustom .hover .checked { background-position:0 -150px;}
.treeCustom .indeterminate { background-position:0 -200px;}
.treeCustom .hover .indeterminate { background-position:0 -250px;}

.treeCustom div div { background:url(../default/images/tree/tree.png) no-repeat;}
.treeCustom .folder_collapsable, .treeCustom .folder_expandable, .treeCustom .file { background:url(../default/images/tree/folder.png) no-repeat;}
.treeCustom .checked, .treeCustom .unchecked, .treeCustom .indeterminate { background:url(../default/images/tree/check.png) no-repeat;}
.treeCustom ul { background:#FFF;}
.treeCustom li a, .treeCustom li span { color:#183152;}
.treeCustom .hover { background:#f5f5f5;}
.treeCustom .selected { background-color:#e8edf3;}

span.module_name {
	width: 150px;
	float: left;
}

span.crud {
	float: left;
	width: 42px;
	height: 22px;
	line-height: 21px;
	text-align:center;
}

span.inputValue {
	float: right;
}

span.inputValue input {
	width: 40px;
	line-height: 21px;
	height: 22px;
	margin: 0px;
	padding: 0px;
}

span.inputValueRole {
	float: right;
}