@charset "utf-8";

/* treeCustom */
.treeCustom li { clear:both; display:block; line-height:22px; cursor:pointer;}
.treeCustom div { display:inherit; height:22px; line-height:22px;}
.treeCustom a, .treeCustom span {height:22px; line-height:22px;}
.treeCustom div { display:block; overflow:hidden;}
.treeCustom div div { float:left; display:block; overflow:hidden; width:22px; height:22px; border:none; background-position:0 -100px;}
.treeCustom a, .treeCustom a:hover { text-decoration:none;}

.treeCustom .collapsable { background-position:0 -300px;}
.treeCustom .first_collapsable { background-position:0 -250px;}
.treeCustom .last_collapsable { background-position:0 -350px;}

.treeCustom .expandable { background-position:0 -100px;}

.treeCustom .first_expandable { background-position:0 -50px;}
.treeCustom .last_expandable { background-position:0 -150px;}
.treeCustom .end_expandable { background-position:0 0;}
.treeCustom .end_collapsable { background-position:0 -200px;}

.treeCustom .indent { background:none;}
.treeCustom .line { background-position:0 -400px;}
.treeCustom .node { background-position:0 -450px;}
.treeCustom .last .node { background-position:0 -500px;}

.treeCustom .folder_expandable { background-position:0 0;}
.treeCustom .folder_collapsable { background-position:0 -50px;}
.treeCustom .file { background-position:0 -100px;}

.treeCustom .unchecked { background-position:0 0;}
.treeCustom .hover .unchecked { background-position:0 -50px;}
.treeCustom .checked { background-position:0 -100px;}
.treeCustom .hover .checked { background-position:0 -150px;}
.treeCustom .indeterminate { background-position:0 -200px;}
.treeCustom .hover .indeterminate { background-position:0 -250px;}

.treeCustom div div { background:url(../default/images/tree/tree.png) no-repeat;}
.treeCustom .folder_collapsable, .treeCustom .folder_expandable, .treeCustom .file { background:url(../default/images/tree/folder.png) no-repeat;}
.treeCustom .checked, .treeCustom .unchecked, .treeCustom .indeterminate { background:url(../default/images/tree/check.png) no-repeat;}
.treeCustom ul { background:#FFF;}
.treeCustom li a, .treeCustom li span { color:#183152;}
.treeCustom .hover { background:#f5f5f5;}
.treeCustom .selected { background-color:#e8edf3;}

span.module_name {
	width: 150px;
	float: left;
}

span.crud {
	float: left;
	width: 42px;
	height: 22px;
	line-height: 21px;
	text-align:center;
}

span.inputValue {
	float: right;
}

span.inputValue input {
	width: 40px;
	line-height: 21px;
	height: 22px;
	margin: 0px;
	padding: 0px;
}

span.inputValueRole {
	float: right;
}


/**************************************************Start toolBar中的小按钮扩展****************************************************/
.panelBar .toolBar a.user span { background-image: url(images/toolbar_icons16/user.png); background-position: 0 3px;}
.panelBar .toolBar a.user_add span { background-image: url(images/toolbar_icons16/user_add.png); background-position: 0 3px;}
.panelBar .toolBar a.user_delete span { background-image: url(images/toolbar_icons16/user_delete.png); background-position: 0 3px;}
.panelBar .toolBar a.user_edit span { background-image: url(images/toolbar_icons16/user_edit.png); background-position: 0 3px;}
.panelBar .toolBar a.user_comment span { background-image: url(images/toolbar_icons16/user_comment.png); background-position: 0 3px;}
.panelBar .toolBar a.user_female span { background-image: url(images/toolbar_icons16/user_female.png); background-position: 0 3px;}
.panelBar .toolBar a.user_go span { background-image: url(images/toolbar_icons16/user_go.png); background-position: 0 3px;}
.panelBar .toolBar a.user_gray span { background-image: url(images/toolbar_icons16/user_gray.png); background-position: 0 3px;}
.panelBar .toolBar a.user_green span { background-image: url(images/toolbar_icons16/user_green.png); background-position: 0 3px;}
.panelBar .toolBar a.user_orange span { background-image: url(images/toolbar_icons16/user_orange.png); background-position: 0 3px;}
.panelBar .toolBar a.user_red span { background-image: url(images/toolbar_icons16/user_red.png); background-position: 0 3px;}
.panelBar .toolBar a.user_suit span { background-image: url(images/toolbar_icons16/user_suit.png); background-position: 0 3px;}

.panelBar .toolBar a.group span { background-image: url(images/toolbar_icons16/group.png); background-position: 0 3px;}
.panelBar .toolBar a.group_add span { background-image: url(images/toolbar_icons16/group_add.png); background-position: 0 3px;}
.panelBar .toolBar a.group_delete span { background-image: url(images/toolbar_icons16/group_delete.png); background-position: 0 3px;}
.panelBar .toolBar a.group_edit span { background-image: url(images/toolbar_icons16/group_edit.png); background-position: 0 3px;}
.panelBar .toolBar a.group_error span { background-image: url(images/toolbar_icons16/group_error.png); background-position: 0 3px;}
.panelBar .toolBar a.group_gear span { background-image: url(images/toolbar_icons16/group_gear.png); background-position: 0 3px;}
.panelBar .toolBar a.group_go span { background-image: url(images/toolbar_icons16/group_go.png); background-position: 0 3px;}
.panelBar .toolBar a.group_key span { background-image: url(images/toolbar_icons16/group_key.png); background-position: 0 3px;}
.panelBar .toolBar a.group_link span { background-image: url(images/toolbar_icons16/group_link.png); background-position: 0 3px;}

.panelBar .toolBar a.magifier_zoom_out span { background-image: url(images/toolbar_icons16/magifier_zoom_out.png); background-position: 0 3px;}
.panelBar .toolBar a.magnifier span { background-image: url(images/toolbar_icons16/magnifier.png); background-position: 0 3px;}
.panelBar .toolBar a.magnifier_zoom_in span { background-image: url(images/toolbar_icons16/magnifier_zoom_in.png); background-position: 0 3px;}

.panelBar .toolBar a.shield span { background-image: url(images/toolbar_icons16/shield.png); background-position: 0 3px;}
.panelBar .toolBar a.shield_add span { background-image: url(images/toolbar_icons16/shield_add.png); background-position: 0 3px;}
.panelBar .toolBar a.shield_delete span { background-image: url(images/toolbar_icons16/shield_delete.png); background-position: 0 3px;}
.panelBar .toolBar a.shield_go span { background-image: url(images/toolbar_icons16/shield_go.png); background-position: 0 3px;}

.panelBar .toolBar a.arrow_refresh span { background-image: url(images/toolbar_icons16/arrow_refresh.png); background-position: 0 3px;}

.panelBar .toolBar a.application span { background-image: url(images/toolbar_icons16/application.png); background-position: 0 3px;}
.panelBar .toolBar a.application_add span { background-image: url(images/toolbar_icons16/application_add.png); background-position: 0 3px;}
.panelBar .toolBar a.application_cascade span { background-image: url(images/toolbar_icons16/application_cascade.png); background-position: 0 3px;}
.panelBar .toolBar a.application_delete span { background-image: url(images/toolbar_icons16/application_delete.png); background-position: 0 3px;}
.panelBar .toolBar a.application_double span { background-image: url(images/toolbar_icons16/application_double.png); background-position: 0 3px;}
.panelBar .toolBar a.application_edit span { background-image: url(images/toolbar_icons16/application_edit.png); background-position: 0 3px;}
.panelBar .toolBar a.application_error span { background-image: url(images/toolbar_icons16/application_error.png); background-position: 0 3px;}
/**************************************************END toolBar中的小按钮扩展******************************************************/